[submodule "deps/glad-cmake"]
	path = deps/glad-cmake
	url = https://github.com/fqhd/glad-cmake
[submodule "deps/stb-cmake"]
	path = deps/stb-cmake
	url = https://github.com/fqhd/stb-cmake.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/net-cmake"]
	path = deps/net-cmake
	url = https://github.com/fqhd/net-cmake.git
